@media only screen and (max-width: 1200px) {
    .page-sidebar-left {
        display: none;
    }

    .page-content-container {
        width: 100%;
        padding-right: 360px;
        padding-left: 0px!important;
    }
}
